<h1> This Is Index File </h1>
<h2> My ansible Node OS is: {{ansible_os_family}}</h2>
<h3> My ansible node java version is: {{myjavapackageforubuntu}} </h3>
<h4> My ansible IP is: {{ansible_all_ipv4_addresses}}